/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/* ROOT */
*, *::before, *::after {
  @apply antialiased;
}

:root {
  @apply font-body font-medium text-black-light leading-loose;
  font-size: responsive 16px 21px;
  font-range: 400px 1680px;
}

body { overflow-x: hidden; } 

/* TYPE */
h1, h2, h3, h4, h5, h6 {
  @apply font-heading font-normal text-lg mb-4;
}

h1 { font-size: responsive 1.67rem 2.5rem; font-range: 400px 1680px; }
h2 { @apply text-xl2; }
h3 { @apply text-xl1; }
h4, h5, h6 { @apply font-bold; }

a { 
  color: inherit;
  text-decoration: none; 
}

/* ELEMENTS */
hr {
  @apply bg-gray;
  border: none;
  width: 100%;
  height: 1px;
}

blockquote {
  @apply text-lg font-heading p-32 border border-primary-light text-primary-light;
  @apply -mx-32 my-40 px-80;
}

input, textarea {
  @apply py-12 px-24 font-medium bg-gray-light border border-gray-dark;
  transition: all 0.3s;
}

textarea {
  @apply py-24;
  height: 10rem;
}

input:hover, textarea:hover { @apply border-primary-light; }
input:focus, textarea:focus { @apply border-primary bg-white; }

label { @apply inline-block uppercase font-alt font-normal tracking-normal text-xs text-black mb-8; }

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

.bg-circle-pattern { position: relative; }
.bg-circle-pattern::before, 
.bg-circle-pattern::after {
  content: '';
  position: absolute;
  left: 0; right: 0;
  bottom: 0;
  z-index: -1;
  height: 50%;
}

@keyframes bgScroll {
  to { background-position: 0 24px; }
}

.bg-circle-pattern::before { 
  background: url('../images/circle-pattern.svg') repeat 0 0;
  animation: bgScroll 1.5s linear infinite;
}
.bg-circle-pattern::after { 
  background: linear-gradient(to bottom,
    white 0%,
    rgba(255, 255, 255, 0.6) 50%,
    white 100%
  );
}
